#threejs-container {
    position: relative;
    width: 50px;
    height: 100px;
  }
  
.canvas {
  top: 0;
  right: 150px;
  z-index: 1;
  width: inherit;
  height: 498px;
  transform: translateY(50px);
}

  