
.footer {
    background-color: #98c898;
    color: black;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .section {
    flex: 1;
    margin: 0 10px;
  }
  
  .section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .section p {
    margin: 0;
  }
  
  .socialLinks {
    margin-top: 10px;
  }
  
  .socialIcon {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .socialIcon:hover {
    color: white;
  }
  