.container {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #d9d5c8;
}

.listContainer {
    position: relative;
    display: flex;
    gap: 10px;
    list-style: none;   

}


.listContainer > li:hover, .navActive {
    cursor: pointer;
    border: 2px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
    border-width: 1;
}


@media screen and (max-width: 768px) {
    .listContainer {
        display: none;
    }
}